body {
    margin: 0;
    padding: 0;
    background: url('images/wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
}

.izquierda {
    width: 300px;
    left: 20%; /* Ajusta la posición a la izquierda */
    top: 25%; /* Ajusta la posición hacia arriba */
}

.derecha {
    width: 360px;
    right: 20%; /* Ajusta la posición a la derecha */
    top: 25%; /* Ajusta la posición hacia arriba */
}

.centro {
    width: 250px;
    top: 65%; /* Ajusta la posición hacia arriba */
    transform: translateY(-50%); /* Centra verticalmente */
}

.link {
    position: absolute;
    bottom: 15%; /* Ajusta la posición del enlace */
    font-size: 32px; /* Tamaño del texto del enlace */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    border-radius: 5px; /* Bordes redondeados */
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Cambia el fondo al pasar el ratón */
}

.pdf-viewer {
    display: none; /* Oculta el iframe inicialmente */
    width: 100%;
    height: 600px; /* Ajusta la altura según sea necesario */
    border: none; /* Sin borde */
}
