body {
    margin: 0;
    padding: 0;
    background: url('images/wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.izquierda {
    width: 300px;
    left: 20%; /* Ajusta la posición a la izquierda */
    top: 25%; /* Ajusta la posición hacia arriba */
}

.derecha {
    width: 450px;
    right: 20%; /* Ajusta la posición a la derecha */
    top: 30%; /* Ajusta la posición hacia arriba */
}

.centro {
    width: 250px;
    top: 62%; /* Ajusta la posición hacia arriba */
    transform: translateY(-50%); /* Centra verticalmente */
}

.link {
    position: absolute;
    bottom: 13%; /* Ajusta la posición del enlace */
    font-size: 32px; /* Tamaño del texto del enlace */
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    border-radius: 5px; /* Bordes redondeados */
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Cambia el fondo al pasar el ratón */
}

.pdf-viewer {
    display: none; /* Oculta el iframe inicialmente */
    width: 100%;
    height: 600px; /* Ajusta la altura según sea necesario */
    border: none; /* Sin borde */
}

.credit {
    position: absolute; /* Posiciona el texto en relación a la contenedor */
    bottom: 5%; /* Ajusta la posición hacia abajo */
    right: 5%; 
    font-size: 12px; /* Tamaño del texto */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    width: auto; /* Asegura que el texto ocupe todo el ancho */
    opacity: 0.8; /* Hace el texto un poco transparente */
}

@media (max-width: 768px) {
    .izquierda {
        width: 15%; /* Ajusta el tamaño en móviles */
        left: 5%; /* Centra la imagen */
        top: 10%; /* Ajusta la posición */
    }

    .derecha {
        width: 15%; /* Ajusta el tamaño en móviles */
        right: 5%; /* Centra la imagen */
        top: 20%; /* Ajusta la posición */
    }

    .centro {
        width: 60%; /* Ajusta el tamaño en móviles */
        top: 45%; /* Ajusta la posición */
    }

    .link {
        font-size: 16px; /* Reduce el tamaño del texto en móviles */
        bottom: 10%; /* Ajusta la posición del enlace */
    }

    .pdf-viewer {
        height: 400px; /* Ajusta la altura del iframe en móviles */
    }

    .credit {
        font-size: 6px; /* Reduce el tamaño del texto en móviles */
        bottom: 3%; /* Ajusta la posición */
    }
}